In [1]:
import pandas as pd
import numpy as np

In [2]:
cpi_df = pd.read_csv('data\BLS_Seafood_CPI.csv')
ppi_df = pd.read_csv('data\BLS_Seafood_PPI.csv')
#temp_df = pd.read_csv('data\US_temp.csv',encoding = "utf-8")
capture_df = pd.read_csv('data\FAO_Capture_data\Capture_Quantity.csv')

In [3]:
#Relable columns, group by year, remove unwanted columns for CPI and PPI dfs

In [4]:
cpi = cpi_df.groupby('Year').agg(mean_CPI=('Value', 'mean'))

In [5]:
ppi = ppi_df.groupby('Year').agg(mean_PPI=('Value', 'mean'))

In [6]:
# Clean Capture data, filter by US data

In [7]:
capture_df.head()

,COUNTRY.UN_CODE,SPECIES.ALPHA_3_CODE,AREA.CODE,MEASURE,PERIOD,VALUE,STATUS
0,4,FRF,4,Q_tlw,2020,2000.0,E
1,4,FRF,4,Q_tlw,2019,2100.0,E
2,4,FRF,4,Q_tlw,2018,2050.0,E
3,4,FRF,4,Q_tlw,2017,2000.0,E
4,4,FRF,4,Q_tlw,2016,1900.0,E

In [13]:
#filter to only the USA
capture = capture_df[(capture_df['COUNTRY.UN_CODE'] == 840)]

In [14]:
capture = capture.pivot_table(index='PERIOD',columns='SPECIES.ALPHA_3_CODE',values='VALUE')
capture

SPECIES.ALPHA_3_CODE,AAC,AAM,ABS,ABU,ABX,ACH,AGG,AGM,AGR,AIP,...,YNR,YRG,YRO,YSB,YSE,YSF,YSH,YSO,YTC,YTL
PERIOD,,,,,,,,,,,,,,,,,,,,,
1950,NaN,NaN,48668.0,NaN,1795.0,NaN,NaN,NaN,NaN,NaN,...,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1601.0,NaN
1951,NaN,NaN,57249.0,NaN,1850.0,NaN,NaN,NaN,NaN,NaN,...,252.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2118.0,NaN
1952,NaN,NaN,57900.0,NaN,2170.0,NaN,NaN,NaN,NaN,NaN,...,260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4285.0,NaN
1953,NaN,NaN,66560.0,NaN,2140.0,NaN,NaN,NaN,NaN,NaN,...,406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2364.0,NaN
1954,NaN,NaN,68722.0,NaN,1860.0,NaN,NaN,NaN,NaN,NaN,...,692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,752.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,133.0,NaN,19268.5,0.0,NaN,NaN,0.0,553372.0,564.0,NaN,...,4.5,4.0,1411.0,17.0,30.0,213.0,29.5,4.0,26.0,35.0
2017,101.0,NaN,21463.5,0.0,NaN,NaN,0.0,463466.0,463.0,0.0,...,4.5,1.0,2715.0,21.0,16.0,254.0,43.0,4.0,30.0,35.0
2018,113.0,NaN,26939.0,0.0,NaN,NaN,0.0,596258.0,492.0,NaN,...,4.0,11.0,3217.0,19.0,10.0,255.0,29.0,5.0,19.0,43.5
2019,109.0,NaN,15083.0,0.0,NaN,NaN,0.0,486684.0,224.0,NaN,...,4.0,0.0,3304.0,19.0,12.0,332.0,47.0,7.0,12.0,42.0
2020,128.0,NaN,15292.0,0.0,NaN,NaN,0.0,423078.0,210.0,NaN,...,9.5,1.0,3447.0,13.0,11.0,318.0,36.0,1.0,18.0,37.0

In [15]:
#replace na values with zeros
capture.fillna(0)

SPECIES.ALPHA_3_CODE,AAC,AAM,ABS,ABU,ABX,ACH,AGG,AGM,AGR,AIP,...,YNR,YRG,YRO,YSB,YSE,YSF,YSH,YSO,YTC,YTL
PERIOD,,,,,,,,,,,,,,,,,,,,,
1950,0.0,0.0,48668.0,0.0,1795.0,0.0,0.0,0.0,0.0,0.0,...,213.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1601.0,0.0
1951,0.0,0.0,57249.0,0.0,1850.0,0.0,0.0,0.0,0.0,0.0,...,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2118.0,0.0
1952,0.0,0.0,57900.0,0.0,2170.0,0.0,0.0,0.0,0.0,0.0,...,260.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4285.0,0.0
1953,0.0,0.0,66560.0,0.0,2140.0,0.0,0.0,0.0,0.0,0.0,...,406.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2364.0,0.0
1954,0.0,0.0,68722.0,0.0,1860.0,0.0,0.0,0.0,0.0,0.0,...,692.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,752.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,133.0,0.0,19268.5,0.0,0.0,0.0,0.0,553372.0,564.0,0.0,...,4.5,4.0,1411.0,17.0,30.0,213.0,29.5,4.0,26.0,35.0
2017,101.0,0.0,21463.5,0.0,0.0,0.0,0.0,463466.0,463.0,0.0,...,4.5,1.0,2715.0,21.0,16.0,254.0,43.0,4.0,30.0,35.0
2018,113.0,0.0,26939.0,0.0,0.0,0.0,0.0,596258.0,492.0,0.0,...,4.0,11.0,3217.0,19.0,10.0,255.0,29.0,5.0,19.0,43.5
2019,109.0,0.0,15083.0,0.0,0.0,0.0,0.0,486684.0,224.0,0.0,...,4.0,0.0,3304.0,19.0,12.0,332.0,47.0,7.0,12.0,42.0
2020,128.0,0.0,15292.0,0.0,0.0,0.0,0.0,423078.0,210.0,0.0,...,9.5,1.0,3447.0,13.0,11.0,318.0,36.0,1.0,18.0,37.0