In [1]:
import pandas as pd
import numpy as np

In [2]:
merged_CPI_PPI_df = pd.read_csv('merged_CPI_PPI.csv')

In [3]:
#read calco csv file
depth1_calco_df = pd.read_csv('grouped_1_Depthm_data.csv')
# merge the dataframes on the "year_month" column
merged_depth1_calco_CPI_PPI_df = pd.merge(depth1_calco_df, merged_CPI_PPI_df, on="year_month",how='outer')

In [4]:
merged_depth1_calco_CPI_PPI_df

,year,month,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,DIC2,TA1,TA2,pH2,pH1,year_month,Series ID_x,CPI,Series ID_y,PPI
0,1950.0,10.0,1937.0,59484.0,1.0,19.54,33.17,4.955,23.4865,94.1,...,NaN,NaN,NaN,NaN,NaN,1950/10,CUUR0000SEFG,20.600,NaN,NaN
1,1951.0,1.0,2340.0,70007.0,1.0,14.22,NaN,5.300,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1951/01,CUUR0000SEFG,21.700,NaN,NaN
2,1951.0,6.0,2960.0,88977.0,1.0,NaN,NaN,5.860,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1951/06,CUUR0000SEFG,22.400,NaN,NaN
3,1952.0,10.0,4971.0,134630.0,1.0,19.33,33.49,NaN,23.7850,NaN,...,NaN,NaN,NaN,NaN,NaN,1952/10,CUUR0000SEFG,21.200,NaN,NaN
4,1954.0,2.0,6645.5,171796.0,1.0,15.10,33.50,NaN,24.5490,NaN,...,NaN,NaN,NaN,NaN,NaN,1954/02,CUUR0000SEFG,20.800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/10,CUUR0000SEFG,358.913,PCU3117103117105,268.106
1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/11,CUUR0000SEFG,359.506,PCU3117103117105,268.106
1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/12,CUUR0000SEFG,356.452,PCU3117103117105,268.106
1056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/01,CUUR0000SEFG,357.719,NaN,NaN
1057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/02,CUUR0000SEFG,360.246,NaN,NaN

In [5]:
merged_depth1_calco_CPI_PPI_df.to_csv('merged_1_depth_CPI_PPI.csv',index = False)